<%= form_for :patient, url: patients_path(@patient), html: {class: "form-container"}  do |f| %>
<h1 class="page-title">Cadastro de Paciente</h1>
<div class="form">
  <div class="col">
    <div class="input-wrapper">
      <%= f.label :nome %><br />
      <%= f.text_field :name, class: "input-box", placeholder: "Nome" %><br />
    </div>

    <div class="input-wrapper">
      <%= f.label :RG %><br />
      <%= f.text_field :rg, class: "input-box", placeholder: "RG" %><br />
    </div>

    <div class="input-wrapper">
      <%= f.label :idade %><br />
      <%= f.text_field :age, class: "input-box", placeholder: "Idade" %><br />
    </div>

    <div class="input-wrapper">
      <%= f.label :sexo %><br />
      <%= f.collection_select :gender_id, Gender.order(:name),:id,:name, prompt: "Selecione o sexo do paciente" %>
    </div>
  </div>

  <div class="col">
    <div class="input-wrapper">
      <%= f.label :motivo_da_internção %><br />
      <%= f.text_field :cause, class: "input-box", placeholder: "Motivo da internação" %><br />
    </div>

    <div class="input-wrapper">
      <%= f.label :leito %><br />
      <%= f.collection_select :bed_id, Bed.order(:id).where("busy == false"),:id,:name, prompt: "Selecione o leito" %>
    </div>

    <div class="input-wrapper">
      <%= f.label :descrição %><br />
      <%= f.text_area :description, rows: 10, class: 'text-area-box', placeholder: "Descrição" %><br />
    </div>
    <%= f.submit "Cadastrar", class: "btn" %>
  </div>
</div>
<% end %>